body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.music-player {
    background-color: #a38181;                         
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 350px;
}

header {
    text-align: center;
    margin-bottom: 20px;          
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

#search {
    width: 95%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.control-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.player-controls input[type="range"] {
    flex-grow: 1;
    margin-left: 10px;
}

.playlist {
    margin-top: 20px;
}

.playlist h2 {
    margin-bottom: 10px;

}

#playlist {
    list-style: none;
    padding: 0;
}

#playlist li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

#playlist li:hover {
    background-color: #f1f1f1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 5s linear infinite;
}
